<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{pick}}은 {{pick|length}}글자</h1>
    <h1>{{foods|join:", "}}</h1>

    <h1>메뉴판</h1>
    <ul>
        {% for food in foods %}
          <li>{{food}}</li>
        {% endfor %}
    </ul>

    {# 이것은 주석입니다.(한줄 주석) #}

    {% comment %}
      <p>여러 줄</p>
      <p>주석</p>
      <p>입니다.</p>
      <p>여러줄 주석</p>
    {% endcomment %}

    <h1>조건문 연습</h1>
    <ul>
        {% if numbers == 50 %}
          <h1>number는 50입니다.</h1>
        {% elif numbers > 50 %}
          <h1>number는 50보다 크다.</h1>
        {% else %}
          <h1>number는 50보다 작다.</h1>
        {% endif %}
    </ul>

    <a href="{% url "index" %}">뒤로</a>
</body>
</html>