<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-if="shouldShowUser">
        <ul>
            <template v-for="user in users":key="user.id">
                <li v-if="user.isActive"> {{user.name}} </li>
            </template>
        </ul>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                users: [
                    { id : 0, name : "name0", isActive : true},
                    { id : 1, name : "name1", isActive : false},
                    { id : 2, name : "name2", isActive : true}
                ],
                shouldShowUser : false,
            }
        })
    </script>
</body>
</html>