<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .completed {
        text-decoration: line-through;
        color: gray;
    }
</style>
<body>
    <div id="app">
        <h1>Todo List</h1>
        <input type="text" v-model="content">
        <button @click="add">+</button>
        <hr>
        <ul>
            <li v-for="todo in todos" :key="todo.idx">
                <input type="checkbox" v-model="todo.completed">
                <span :class="{completed: todo.completed}">{{todo.title}}</span>
            </li>
        </ul>
        <hr>
        <button @click="deleteCompleted">완료 삭제</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data: {content: "HELLO VUE", todos: []},
        methods: {
            add() {
                this.todos.push({
                    idx: this.idx,
                    title: this.content,
                    completed: false,
                });
                this.idx++;
            },
            deleteCompleted() {
                const filtered = this.todos.filter((todo) => {
                    return !todo.completed
                });
                this.todos = filtered;
            }
        }
    })
</script>
</html>